<div class="row justify-content-center mb-2">
    <button class="btn btn-primary col-3" id="{{idBtnTestSubj}}">Iniciar Prueba</button>
</div>

<div class="row mt-4 justify-content-center">
    <h6 class="text-center text-success">Suscriptores de fuente multi-casting (Subject)</h6>
</div>
<div class="row justify-content-around mt-2">
    <div class="col-5 rounded consola bg-dark" id="{{idConsola01}}">
    </div>
    <div class="col-5 rounded consola bg-dark" id="{{idConsola02}}">
    </div>
</div>

<div class="row mt-4 justify-content-center">
    <h6 class="text-center text-info">Suscriptores tradicionales</h6>
</div>
<div class="row justify-content-around mt-2">
    <div class="col-5 rounded consola bg-dark" id="{{idConsola03}}">
    </div>
    <div class="col-5 rounded consola bg-dark" id="{{idConsola04}}">
    </div>
</div>
