<div class="card" style="width:{{ancho}}rem;">
    <img src="./assets/img/{{imagen}}" class="card-img-top" alt="..." #elemImagen>
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <p class="card-text">
            <ng-content></ng-content>
        </p>
        <a href="{{link}}" class="btn btn-primary" #btnAccion>{{accion}} </a>
        <a href="#" class="btn btn-info ml-2" #btnAccion>Más Info</a>
    </div>
</div>
<div *ngIf="debugOn && demoViewOn" class="table-warning p-2 mt-1" style="width: {{ancho}}rem;">
    <div class="font-weight-bolder mb-2">Inyectados desde la Vista:</div>
    <small>
        <span class="font-weight-bold text-warning">@ViewChildren:</span>
        <span class="font-weight-bold">Urls de botones:</span> {{urlsAccion}}
    </small><br>
    <small><span class="font-weight-bold text-warning">@ViewChild:</span></small>
    <a href={{urlImagen}}>Ver Imagen</a>
</div>
<div *ngIf="debugOn && demoContentOn" class="table-danger p-2 mt-1" style="width: {{ancho}}rem;">
    <div class="font-weight-bolder mb-2">Inyectados desde ng-content:</div>
    <small>
       <span class="font-weight-bold text-danger">@ContentChild:</span>{{titRelevante}}<br>
       <span class="font-weight-bold text-danger">@ContentChildren:</span>{{textRelevante}}
    </small>
</div>
<div *ngIf="debugOn && demoContentDirectivaOn" class="table-light p-2 mt-1" style="width: {{ancho}}rem;">
    <div class="font-weight-bolder mb-2">Inyectados desde ng-content usando directiva '<code>EsRelevante</code>':</div>
    <small>
        <span class="font-weight-bold text-danger">@ContentChildren:</span>{{textosDirEsRelevante}}
    </small>
</div>