<div>
    <div class="row p-2 m-1">
        <div class="col text-primary font-weight-bold">
            Demo del <i>operador RxJS </i> <code>switchMap</code>.  
        </div>
    </div>
    <div class="row p-2 m-1">
        <div class="col-12 text-center">
            <div class="text-white  display-3 bg-danger p-3 rounded-pill 
                        d-inline-block text-center elipse" id="{{idElipseSM}}">
                {{ nClicksEnElipse }}
            </div>
        </div>

    </div>
    <div class="row p-2 mx-1 mt-3 table-info rounded-lg">
        <div class="font-weight-bold col-12 mb-2">
            Instrucciones:
        </div>
        <div class="text-muted col-12">
            Haga click en la elipse. Espere un momento y vuelva a hacer click en la elpise mencionada.
        </div>
    </div>

</div>

