<p>
    <a class="btn btn-primary mr-1" data-toggle="collapse" href="#multiCollapseExample1" 
        role="button" aria-expanded="false" aria-controls="multiCollapseExample1">{{etiquetaUno}}</a>
    <button class="btn btn-dark mr-1" type="button" data-toggle="collapse" 
            data-target="#multiCollapseExample2" aria-expanded="false" 
            aria-controls="multiCollapseExample2">{{etiquetaDos}}</button>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" 
            data-target=".multi-collapse" aria-expanded="false" 
            aria-controls="multiCollapseExample1 multiCollapseExample2">Switchear</button>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <ng-content select="[uno]"></ng-content>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <ng-content select="[dos]"></ng-content>
            </div>
        </div>
    </div>
</div>