<div class="container">
  <h4 class="text-center my-4 text-primary">{{title}}</h4>
  <div *ngIf="directivasEstructuralesInterpolacionOn">
    <h5 class="text-primary mb-4">Directivas estructurales e Interpolaci&oacute;n: Componente <pre class="d-inline">lista-b4</pre> (3 instancias)</h5>
    <div class="row">
        <div class="col-sm table-warning p-2 rounded">
            <app-lista-b4></app-lista-b4>
        </div>
        <div class="col-sm  p-2 rounded">
            <app-lista-b4></app-lista-b4>
        </div>
        <div class="col-sm table-primary p-2 rounded">
            <app-lista-b4></app-lista-b4>
        </div>
    </div>
    <div class="row my-3">
        <small class="text-muted">Ejemplo del uso del 
            <span class="font-italic font-weight-bold text-danger">interpolation binding</span>. 
            Cada instancia del componente lee un arreglo declarado en su controlador y muestra sus valores 
            usando expresiones del tipo 
            <code class="font-weight-bold">&#123;&#123; </code> 
            <code class="font-weight-bold">opciones[0] &#125;&#125;</code> y  
            <code class="font-weight-bold">&#123;&#123; </code> 
            <code class="font-weight-bold">opcionI &#125;&#125;</code> 
            con un <code class="font-weight-bold">*ngFor=</code>
            <code class="font-weight-bold">"let opcionI of opciones" </code>.
            <br>
            Se hace uso de diversas clases del 
            <span class="font-italic">framework </span>  
            <code>Bootstrap 4</code>.
        </small>
    </div>
    <hr class="my-4">
  </div>

  <div *ngIf="parametrosEntradaYclassBindingOn">
    <h5 class="text-primary">Par&aacute;metros de Entrada y class Binding: Componente <pre class="d-inline">seleccionador</pre> configurable</h5>
    <div class="row">
        <div class="col-sm-4 p-2">
            <app-seleccionador paramNombre="taller" 
                               paramEtiquetas="Cocina,Electricidad,Pintura,Artes Plasticas" 
                               paramValores="C,E,P,AP"
                               paramConBorde="true"
                               paramMostrarValores="true">                
            </app-seleccionador>
        </div>
        <div class="col-sm-4 p-2">
            <app-seleccionador></app-seleccionador>
        </div>
        <div class="col-sm-4 p-2">
            <app-seleccionador paramNombre="servicio" 
                            paramEtiquetas="Desayunos,Comidas,Uniformes,Biblioteca,Sala Computo" 
                            paramValores="D,C,U,B,SC"
                            paramConBorde="true"
                            paramMostrarValores="false"
                            paramTipo ="checkbox"
            >                
            </app-seleccionador>
        </div>
    </div>
    <div>
        <small class="text-muted">Ejemplo de usos de <span class="font-italic font-weight-bold text-danger">directivas estructurales</span>. 
            En este caso: <br>
            <ul>
                <li>
                    <code class="font-weight-bold">*ngFor</code> (with index), 
                </li>
                <li>
                    <code class="font-weight-bold">*ngIf</code>, 
                </li>
                <li>
                    <code class="font-weight-bold">[ngSwitch]</code> (no estructural),
                </li>
                <li>
                    <code class="font-weight-bold">*ngSwitchCase</code> y 
                </li>
                <li>
                    <code class="font-weight-bold">*ngSwitchDefault</code>. 
                </li>
        </ul>
        Tambi&eacute;n se utiliza <span class="font-italic font-weight-bold">class binding</span> para el dibujo condicional del borde.<br>
        El componente permite personalizar:
        <ol>
            <li>
                Borde 
            </li>
            <li>
                El despliegue de valores de cada opci&oacute;n
            </li>
            <li>
                Si se desea usar radio botones o botones de tipo chekbox 
            </li>
            <li>
                El nombre del campo
            </li>
            <li>
                Los valores posibles a elegir
            </li>
        </ol> 
        En general, el componente explota el <strong>renderizado condicional</strong> con base en datos residentes en su controlador.
        </small>
    </div>
    <hr  class="my-4">
  </div>

  <div *ngIf="elNgModelYelBindingBidireccionalOn">
    <div class="row">
        <h5 class="text-primary">NgModel y Binding bidireccional: Componente
            <pre class="d-inline">editor-personas</pre>
        </h5>
        <div class="offset-sm-3 col-sm-6">
            <app-editor-personas></app-editor-personas>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info">
        <small>Ejemplo del uso de <code class="font-weight-bold">ngModel</code> para
            <strong class="text-danger">enlace doble de datos</strong> entre el formulario y la clase definida en el
            controlador del
            componente.</small>
    </div>
    <hr class="my-4">
  </div>

  <div *ngIf="elStyleBindingYelEventoClickOn">
    <div class="row mt-5">
        <h5 class="text-primary">Style Binding y Evento Click: Componente <pre class="d-inline">selec-color</pre> (4 instancias)</h5>
    </div>
    <div class="row mt-4">
        <div class="col-sm ">
            <app-selec-color numCajas="10"></app-selec-color>
        </div>
        <div class="col-sm ">
            <app-selec-color numCajas="8"></app-selec-color>
        </div>
        <div class="col-sm ">
            <app-selec-color numCajas="20"></app-selec-color>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm ">
            <app-selec-color></app-selec-color>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info">
        <small>Ejemplo del uso de: 
            <ol>
                <li>
                        <span class="font-weight-bold font-italic text-danger">Style binding</span>
                </li>
                <li>
                        <span class="font-weight-bold font-italic text-danger">Two-way data binding</span>
                </li>
                <li>
                        <span class="font-weight-bold font-italic text-danger">Manejo del evento</span> <code class="font-weight-bold"> click</code>.
                </li>
                <li>
                        <span class="font-weight-bold font-italic text-danger">
                        <strong>Invocaci&oacute;n y paso de par&aacute;metros a los m&eacute;todos</strong>
                        del controlador del componente. </span>
                </li>

            </ol>
        </small>
    </div>
    <hr class="my-4">
  </div>

  <div *ngIf="componentesQueDevuelvenValoresOn">
    <div class="row">
        <h5 class="text-primary">Componentes que devuelven valores
            <pre class="d-inline">selec-alternativa</pre>
        </h5>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipoSeleccion" id="inlineRadio1" value="radio" 
              (click)="actualizarTipoSeleccion(inRadTipoSelRad.value)" #inRadTipoSelRad>
        <label class="form-check-label" for="inlineRadio1">Radio Button</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipoSeleccion" id="inlineRadio2" value="checkbox" checked
        (click)="actualizarTipoSeleccion(inRadTipoSelCheck.value)" #inRadTipoSelCheck>
        <label class="form-check-label" for="inlineRadio2">Checkbox</label>
    </div>
    <div class="row table-success mt-3">
        <div class="col-sm-3  p-2">
            <app-select-alternativa  (eeCambioDeValores)="valorPelicula = $event" 
            [campo]="campoPelicula" [layout]="layoutPelicula"></app-select-alternativa>
        </div>
        <div class="col-sm-3  m-2 text-center table-light border border-secondary rounded-lg">
            <br>
            <strong class="text-secondary h4">Valor Elegido:</strong> <br><br>
            <span class="text-danger h5">{{valorPelicula}}</span>
            <br>
            <br>
        </div>
    </div>

    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            <strong>El componente de selecci&oacute;n recibe objetos</strong> que provienen del componente (usando el decorador  
            <code class="font-weight-bold">&#64;Input()</code>).<br>
            El componente <strong>publica los cambios de valor</strong> por medio del uso de un objeto emisor de eventos
            <code class="font-weight-bold">EventEmitter&lt;string&gt;</code> y del decorador
            <code class="font-weight-bold">&#64;Output</code>. <br>
            <strong>Se le pasan objetos al seleccionador</strong> por medio de 
            <code class="font-weight-bold">[campo]="campoPelicula"</code>, que indica el uso de 
            una <i>Input property</i> llamada 'campo' (que tomar&aacute; el valor del objeto local
            'campoPelicula'). Tambi&eacute;n <strong>se escucha el evento </strong> 
            publicado por el componente. &Eacute;sto le permite recibir los valores devueltos por el componente
            (el seleccionador).
        </small>
    </div>
    <hr class="my-4">
  </div>   

  <div *ngIf="ComponentesQueRecibenHtmlConNgContentOn">
    <div class="row">
        <h5 class="text-primary">Componentes que reciben html
            <pre class="d-inline">toggler</pre>
        </h5>
    </div>
    <div class="row table-secondary mt-3 rounded-lg">
        <div class="col-md-12  p-2">
            <app-toggler etiquetaUno="Destinos" etiquetaDos="Instrucciones">
                <div uno>
                    <span class="text-primary font-weight-bold">Destinos disponibles:</span>
                    <ol>
                        <li>
                            Acapulco
                        </li>
                        <li>
                            Veracruz
                        </li>
                        <li>
                            Chiapas
                        </li>
                    </ol>
                </div>
                <div dos>
                    <div class="text-warning font-weight-bold mb-2">C&oacute;mo obtener mayor informaci&oacute;n</div>
                    Para explorar los destinos puede enviarnos un correo con el destino de inter&eacute;s 
                    y sus preferencias en t&eacute;rminos de actividades o visitas y nosotros lo contactaremos 
                    proporcion&aacute;ndole informaci&oacute;n detallada.
                </div>
            </app-toggler>
        </div>
    </div>
    
    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            <strong>El componente recibe fragmentos de c&oacute;digo Html</strong> usando etiquetas
            <code class="font-weight-bold">&lt;ng-content&gt;</code>.<br>
            El componente <strong>acomoda cada fragmento recibido en una secci&oacute;n de su vista</strong> 
            por medio del uso de un atributo
            <code class="font-weight-bold">selector</code> que permite elegir entre los distintos 
            fragmentos recibidos (<strong>diferenciados por</strong> el uso de atributos "fake"). <br>
        </small>
    </div>
        
    <hr class="my-4">
  </div>

  <div *ngIf="InyeccionDeElementosDOMdeVistaEnClaseOn">
    <div class="row">
        <h5 class="text-primary">Inyección de elementos DOM de la vista, en el controlador: Componente
            <pre class="d-inline">tarjeta</pre>
        </h5>
    </div>
    <div class="my-3" (change) = "configurarPruebaInyecElemDOM($event)">
        <div class="mr-2">Probar: </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="cbxView" value="true">
            <label class="form-check-label text-warning font-weight-bold" for="cbxView">&#64;ViewChild y &#64;ViewChildren</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="cbxContent" value="true">
            <label class="form-check-label text-danger font-weight-bold" for="cbxContent">&#64;ContentChild y &#64;ContentChildren</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="cbxContDir" value="true">
            <label class="form-check-label text-secondary font-weight-bold" for="cbxContDir">&#64;ContentChildren sobre Directiva</label>
        </div>
    </div>

    <div class="row table-secondary mt-3 rounded-lg">
        <div class="col-sm-4 col-md-3  p-2">
            <app-tarjeta titulo="Chiapas" accion="Reservar" imagen="Chiapas02.jpg" 
                         debug="true" [demoView]="pruebaInyeccView" [demoContent]="pruebaInyeccContent" [demoContentDirectiva]="pruebaInyeccContDir">
                <div #Relevante>
                    Ubicado al Sureste de México es un destino que debe ser visitado, sí o sí.
                </div>
                <div class="mt-2" #titListaRelevante EsRelevante>Atractivos:</div>
                <ul #Relevante>
                    <li EsRelevante>Lagunas de Montebello</li>
                    <li>Cascadas de Agua Azul</li>
                    <li EsRelevante>San Cristobal de las Casas</li>
                </ul>
            </app-tarjeta>
        </div>
    </div>

    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            <strong>El componente inyecta elementos de la vista</strong> usando decoradores
            <code class="font-weight-bold">&#64;ViewChild</code>,
            <code class="font-weight-bold">&#64;ViewChildren</code>,
            <code class="font-weight-bold">&#64;ContentChild</code> y 
            <code class="font-weight-bold">&#64;ContentChildren</code>.
            <br>
            El componente ejemplifica el uso de una <strong>directiva para identificar elementos a inyectar.</strong> 
            Esa directiva usa eventos para cambiar momentanemente la apariencia del elemento que la hospeda. <br>
            Uso de <strong>m&eacute;todos hook </strong> <code class="font-weight-bold">ngAfterViewInit()</code> y
            <code class="font-weight-bold">ngAfterContentInit()</code>.<br>
            <strong>Modifica</strong> elementos de la <strong>vista, despu&eacute;s de</strong> que ha sido ya <strong>inicializada</strong>. Usa
            <code class="font-weight-bold">setTimeout( ()=>this.textosDirEsRelevante = textosDirRelevante.join(", "), 0);</code>.<br>
            Usa <strong>objetos especiales</strong> para manejo de referencias inyectadas y para uso de directivas:
            <ul>
                <li><code class="font-weight-bold">ElementRef</code></li>
                <li><code class="font-weight-bold">QueryList&lt;ElementRef&gt;</code></li>
                <li><code class="font-weight-bold">Renderer2</code></li>
                <li><code class="font-weight-bold">&#64;Directive</code></li>
                <li><code class="font-weight-bold">&#64;HostListener</code></li>
                <li><code class="font-weight-bold">&#64;HostBinding</code></li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="InyeccionDependencias2Instances1serviceOn">
    <div class="row" id="InDep01">
        <h5 class="text-primary">Inyecci&oacute;n de Dependencias: Componente 
            <pre class="d-inline">consulta-personas</pre> (dos instancias) y servicio 
            <pre class="d-inline">ProvDatPersonas</pre>
        </h5>
    </div>

    <div class="row  mt-4">
        <div class="col-sm-5 border border-primary p-2 rounded">
            <app-consulta-personas></app-consulta-personas>
        </div>
        <div class="col-sm-5 border border-danger p-2 ml-3 rounded">
            <app-consulta-personas></app-consulta-personas>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            Ejemplo de implementaci&oacute;n de un <strong class="text-danger">servicio que es inyectado en las instancias de un componente
            </strong>.<br>
            <ul>
                <li>
                    Cada <strong>instancia</strong> del componente de consulta <strong>solicita</strong>, con un <i class="text-primary">constructor</i> 
                    que recibe un objeto del mismo tipo que el del servicio solicitado, <strong>la inyecci&oacute;n de un servicio</strong> 
                    de datos (un arreglo de personas).
                </li>
                <li>
                    Hay un servicio <i class="text-primary">ProvDatPersonaService</i> que es <strong>instanciado por</strong> el inyector de dependencias de Angular
                </li>
                <li>
                    El servicio est&aacute; decorado con <code class="font-weight-bold">&#64;Injectable(&#123; providedIn: 'root'&#125;)</code>, 
                    que indica que debe haber <strong>una instacia por aplicaci&oacute;n</strong>.
                </li>
                <li>
                    El componente puede configurar la creaci&oacute;n de <strong>una instancia por cada instancia del componente</strong>
                    agregando a su decoración <code>&#64;Component</code>, un campo <i class="text-primary">providers</i> como el siguiente: <code class="font-weight-bold">
                    providers: [ ProvDatPersonaService ]</code>. 
                </li>
                <li>
                    El servicio puede servir como una <strong>memoria compartida</strong> entre distintas instancias de uno o m&aacute;s componentes.
                </li>
            </ul>
        </small>
    </div>
    <hr class="my-4">
  </div>

  <div *ngIf="JerarquiaDeInyeccionOn">
    <div class="row"  id="InDep02">
        <h5 class="text-primary">Jerarqu&iacute;a de Inyecci&oacute;n: Componentes 
            <pre class="d-inline">contenedor</pre> y 
            <pre class="d-inline">consulta-personas</pre> (dos instancias) y servicios 
            <pre class="d-inline">ProvDatPersonas</pre> y 
            <pre class="d-inline">Prov2DatPersonas</pre>
        </h5>
    </div>
    <div class="row  mt-4">
        <div class="col-sm-12">
            <app-contenedor></app-contenedor>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            Ejemplo de <strong class="text-danger">servicio que es inyectado a nivel 
            aplicaci&oacute;n, m&oacute;dulo, componente y componente anidado
            </strong>.<br>
            <ul>
                <li>
                    Hay <strong>dos servicios</strong> que implementan  <i class="text-primary">IServDatPersonas</i>:
                    <i class="text-primary">ProvDatPersonasService</i> y <i class="text-primary">Prov2DatPersonasService</i>
                </li>
                <li>
                    Los servicio est&aacute;n decorados con <code class="font-weight-bold">&#64;Injectable(&#123; providedIn: 'root'&#125;)</code>, 
                    que indica que debe haber <strong>una instacia por aplicaci&oacute;n</strong>.
                </li>
                <li>
                    Hay un componente <i class="text-primary">contenedor</i> que <strong>anida dos instancias</strong> 
                    del componente <i class="text-primary">consulta-personas</i>.
                </li>
                <li>
                    <strong>Se definen providers</strong> en <i class="text-primary">AppModule</i>, 
                    <i class="text-primary">ContenedorComponent</i> y <i class="text-primary">ConsultaPersonasComponent</i> 
                    para <strong>probar la jerarqu&iacute;a de Inyecci&oacute;n</strong>  de dependencias
                </li>
                <li>
                    Se prueba la <strong>inyecci&oacute;n de una implementaci&oacute;n en particular</strong> agregando
                    a  <i>providers</i> lo siguiente: <code class="font-weight-bold">
                    providers: [&#123; provide:ProvDatPersonasService, useClass:Prov2DatPersonasService&#125; ]</code>. El campo <code>provide</code>
                    especifica <strong>el tipo</strong> y el campo <code>useClass</code>, <strong>la implementaci&oacute;n</strong> deseada.          
                </li>
            </ul>
        </small>
    </div>
    <hr class="my-4">
  </div>

  <div *ngIf="ServicioComoMotorDeCoreografiaOn">   
    <div class="row"  id="InDep03">
        <h5 class="text-primary">Servicio como Motor de Coreografía: Componentes 
            <pre class="d-inline">contenedor</pre>,  
            <pre class="d-inline">consulta-personas</pre> (dos instancias),
            <pre class="d-inline">notificador-baja</pre>
             y servicio 
            <pre class="d-inline">ProvDatPersonas</pre> (emisor de eventos)
        </h5>
    </div>
    <div class="row  mt-4">
        <div class="col-sm-12">
            <app-contenedor notificarBajas="true"></app-contenedor>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            Ejemplo de <strong class="text-danger">servicio que publica eventos a
            partir de eliminaciones hechas por uno o m&aacute;s componentes, a los que
            se suscribe otro componente para ejecutar alguna acci&oacute;n</strong>.<br>
            <ul>
                <li>
                    El servicio <i class="text-primary">ProvDatPersonasService</i> usa un  <i class="text-primary">EventEmitter&lt;IPersona&gt;</i>
                     para <strong>publicar la baja de una persona</strong> cuando uno de sus clientes le pide hacer una eliminaci&oacute;n
                </li>
                <li>
                    El componente <i class="text-primary">notificador-baja</i> inyecta el servicio y <strong>se suscribe</strong> a la publicaci&oacute;n
                    de bajas. Lleva un conteo de bajas y puede informar cuales han sido por medio de su bot&oacute;n
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="HerenciaDeServiciosYuseExistingOn">
    <div class="row"  id="InDep04">
        <h5 class="text-primary">Herencia de Servicios y useExisting: Componente 
            <pre class="d-inline">drop-down</pre>,  
             y servicios 
            <pre class="d-inline">IGestorOpciones</pre> (s&uacute;per clase), 
            <pre class="d-inline">GestorOpcionesLibro</pre> (subclase) y 
            <pre class="d-inline">GestorOpcionesDemoID</pre> (subclase)
        </h5>
    </div>

    <div class="row  mt-4">
        <div class="col-sm-12">
            <app-drop-down></app-drop-down>
        </div>
    </div>

    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            Ejemplo de componente que <strong class="text-danger">usa una implementaci&oacute;n u otra
                de un mismo servicio 
            </strong>.<br>
            <ul>
                <li>
                    Inyecta un <strong>servicio abstracto y configura la implementaci&oacute;n
                    a utilizar</strong>, como una referencia a un servicio publicado en un inyector root, utilizando
                    <i class="text-primary">useExisting</i> en <i class="text-primary">providers</i>
                </li>
                <li>
                    Esta estrategia suele usarse cuando se desea <strong>estrechar la visibilidad</strong> del componente 
                    <strong>sobre los m&eacute;todos que ofrece un servicio</strong> inyectado en &eacute;l. 
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="PersonalizandoBusquedaDeInyectoresOn">
    <div class="row"  id="InDep04">
        <h5 class="text-primary">Personalizando la B&uacute;squeda de Inyectores: Componentes 
            <pre class="d-inline">drop-down</pre>,  
            <pre class="d-inline">caja-demo-host</pre>,  
                y servicios 
            <pre class="d-inline">GestorOpcionesLibro</pre>, 
            <pre class="d-inline">GestorOpcionesDemoID</pre> y
            <pre class="d-inline">GestorOpcionesAnimal</pre> 
        </h5>
    </div>
    <div class="row  mt-4">
        <div class="">
            <app-drop-down></app-drop-down>
        </div>
        <div class="ml-1 mb-1">
            <app-caja-demo-host>
                <app-drop-down></app-drop-down>
            </app-caja-demo-host>
        </div>
        <div class="ml-1">
            <app-caja-demo-host>
                <app-drop-down></app-drop-down>
            </app-caja-demo-host>
        </div>
        <div class="ml-1">
            <app-caja-demo-host>
                <app-drop-down></app-drop-down>
            </app-caja-demo-host>
        </div>
    </div>
        
    <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            Demo de <strong class="text-danger">personalización de b&uacute;squeda de inyectores 
             </strong>.<br>
            <ul>
                <li>
                    Se crean 3 instancias de un componente que anida un bot&oacute;n DropDown y proyecta otro
                </li>
                <li>
                    Modifica el componente drop-down con decoradores en la inyecci&oacute;n de su servicio de datos: 
                    <i class="text-primary">&#64;Host</i>, <i class="text-primary">&#64;SkipSelf</i> y <i class="text-primary">&#64;Optional</i>.
                </li>
                <li>
                    <i class="text-primary">&#64;Host </i>  <strong>termina</strong> la b&uacute;squeda en el elemento Host (el componente en donde se da la inyecci&oacute;n o
                    el elemento contenedor en el caso de proyección)
                </li>
                <li>
                    <i class="text-primary">&#64;SkipSelf </i>  <strong>inicia</strong> la b&uacute;squeda en el siguiente elemento superior
                    al componente en donde se da la inyecci&oacute;n
                </li>
                <li>
                    El demo est&aacute; listo para que se comenten y descomenten decoraciones y providers a fin de comprender
                    el efecto del uso de decoradores de personalizaci&oacute;n de b&uacute;squeda de inyectores.
                </li>
                <li>
                    Se agreg&oacute; un arreglo <i class="text-primary">viewProviders</i> al componente caja-demo-host para tener distintos contenidos
                    en los dropdowns seg&uacute;n sea cada uno, anidado o proyectado 
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="InyectoresPersonalizadosOn">
    <div class="row"  id="InDep04">
        <h5 class="text-primary">Inyectores personalizados: Componente 
            <pre class="d-inline">titulo</pre>  
        </h5>
    </div>
    <div class="sm-12 mt-4">
        <app-titulo titSecundario="Ejemplo de Uso de Inyectores Personalizados"></app-titulo>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
        <small>
            <ul>
                <li>
                    Se inyecta un objeto que incluye el nombre de la organizaci&oacute;n y el logo, por medio
                    de <i class="text-primary">InjectionToken&lt;object&gt;</i>
                </li>
                <li>
                    El inyector se incluye en <i class="text-primary">inyectoresExtra.ts</i>
                </li>
                <li>
                    Se inyecta el componente <i class="text-primary">titulo</i> con el decorador <i class="text-primary">&#64;Inject</i>
                </li>
                <li>
                    Se ejemplifica el uso de <i class="text-primary">useFactory</i> en el arreglo <i  class="text-primary">providers </i>para cambiar 
                    la funci&oacute;n que instancia el objeto a inyectar
                </li>
            </ul>
        </small>
    </div>
  
    <hr class="my-4">
  </div>

  <div *ngIf="IntroduccionAlosObservablesYelRxJsOn">
    <div class="row">
        <h5 class="text-primary">Introducci&oacute;n a Observables y RxJs: Componente 
            <pre class="d-inline">test-rxjs01</pre> 
        </h5>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <app-test-rxjs01></app-test-rxjs01>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
        <small>
            <ul>
                <li>
                    Se <strong>crea un <i class="text-primary">observable</i> sobre los clicks de un bot&oacute;n</strong>
                </li>
                <li>
                    Se <strong>genera una suscripci&oacute;n sobre el observable</strong>. La suscripci&oacute;n 
                    cuenta los clicks. El contador se muestra en el componente.
                </li>
                <li>
                    Se puede <strong>cancelar la suscripci&oacute;n</strong> usando el bot&oacute;n correspondiente
                </li>
            </ul>
        </small>
    </div>
 
    <hr class="my-4">
  </div>

  <div *ngIf="FuncBasicasCrearObservablesAdaptadoresOn">
    <div class="row">
        <h5 class="text-primary">Funciones b&aacute;sicas de Creaci&oacute;n de Observables (Adaptadores): Componente 
            <pre class="d-inline">test-rxjs02</pre> 
        </h5>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <app-test-rxjs02></app-test-rxjs02>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
        <small>
            <ul>
                <li>
                    Los botones 'Hacer click' y 'Limpiar' tienen su observable que "escucha" los clicks.
                </li>
                <li>
                    Hay un observable,<strong>creado con <i class="text-primary">interval</i>, que genera pulsos num&eacute;ricos</strong> (en secuencia) cada 1500 milisegundos.
                </li>
                <li>
                    Una suscripci&oacute;n agrega elementos a la zona de resultados con cada click en el bot&oacute;n "hacer click".
                </li>
                <li>
                    La otra suscripci&oacute;n limpia la zona de resultados con cada click en el bot&oacute;n "limpiar".
                </li>
                <li>
                    Una suscripción al observable de los pulsos num&eacute;ricos actualiza el color vigente. 
                </li>
                <li>
                    El color vigente es usado para colorear el tono actual y los elementos nuevos en la zona de resultados.
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="FuncionBindCallbackOn">
    <div class="row">
        <h5 class="text-primary">Funci&oacute;n <pre class="d-inline">bindCallback</pre> : Componente 
            <pre class="d-inline">test-rxjs03</pre> 
        </h5>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <app-test-rxjs03></app-test-rxjs03>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
        <small>
            <ul>
                <li>
                    Este ejemplo muestra como <strong>envolver una funci&oacute;n as&iacute;ncrona</strong> dentro de otra que
                    devuelve observables
                </li>
                <li>
                    Con el uso de <i class="text-primary">bindCallback </i> <strong>se envuelve, en un proxy</strong>, una <strong>funci&oacute;n as&iacute;ncrona que devuelve
                    un n&uacute;mero aleatorio</strong>.
                </li>
                <li>
                    <strong>Se invoca a la funci&oacute;n por medio del proxy</strong>, que devuelve observables
                </li>
                <li>
                    Con <strong>cada click</strong> se crea <strong>una nueva suscripci&oacute;n</strong>. En ella <strong>se provee el callback</strong>
                    que espera la funci&oacute;n as&iacute;ncrona.
                </li>
                <li>
                    El callback agrega una insignia a la vista, conteniendo los resultados devueltos
                    por cada invocaci&oacute;n.
                </li>
                <li>
                    De acuerdo al valor del n&uacute;mero al momento del click es el tiempo de espera de
                    cada invocaci&oacute;n. Por ello, <strong>los resultados salenen un orden no secuencial</strong>  en
                    la mayor&iacute;a de los casos.
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="PipelineEnRxJsOn">
    <div class="row">
        <h5 class="text-primary">Pipeline en RxJs : Componente
            <pre class="d-inline">test-rxjs04</pre> 
        </h5>
    </div>
    <h6 class="mt-3">Uso de m&eacute;todo <i>pipe</i> y de operadores de <i>mapeo</i> y <i>filtrado</i> sobre eventos</h6>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <app-test-rxjs04></app-test-rxjs04>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
        <small>
            <ul>
                <li>
                    Este ejemplo muestra como <strong>usar los operadores de RxJs</strong>.
                <li>
                    Se crea un <strong>observable sobre los clicks hechos en un &lt;div&gt;</strong> que a su vez contiene un elemento
                    &lt;span&gt; por cada mes.
                </li>
                <li>
                    <strong>Se crea una tuber&iacute;a de procesamiento (<i class="text-primary">pipe</i>)</strong> a partir del observable
                </li>
                <li>
                    La tuber&iacute;a:
                    <ol>
                        <li>Extrae el elemento html del evento con el operador <i class="text-primary">map</i></li>
                        <li>Filtra los elementos span con el operador <i class="text-primary">filter</i></li>
                        <li>Extrae de los spans el texto (que contiene el nombre de un mes), con el operador <i class="text-primary">map</i></li>
                        <li>Audita el mes con el operador <i class="text-primary">tap</i></li>
                        <li>Filtra los meses que correspondan con temporada baja, con el operador <i class="text-primary">filter</i></li>
                        <li>Genera un observable con el resultado final de la tuber&iacute;a</li>
                    </ol>
                </li>
                <li>
                    La suscripci&oacute;n sobre el observable anterior, actualiza el estado para que se despliegue 
                    un mensaje que informa sobre promociones en temporada baja.
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="MasFuncionesCreadorasEnRxJsOn">
    <div class="row">
        <h5 class="text-primary">M&aacute;s Funciones creadoras : Componente
            <pre class="d-inline">test-rxjs05</pre> 
        </h5>
    </div>
    <h6 class="mt-3">Funciones de creaci&oacute;n de observables de uso com&uacute;n</h6>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs05></app-test-rxjs05>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="OperadoresFiltradoFilteryMapOn">
    <div class="row">
        <h5 class="text-primary">Operadores de filtrado : Componente
            <pre class="d-inline">test-rxjs06</pre> 
        </h5>
    </div>
    <div [hidden]="!testFilterOn" class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs06></app-test-rxjs06>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="OperadoresFiltradoPorPosicionOn">
    <div class="row">
        <h5 class="text-primary">Operadores de filtrado por posici&oacute;n : Componente
            <pre class="d-inline">test-rxjs07</pre> 
        </h5>
    </div>
    <div [hidden]="!testFirstLastTakeLastOn" class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs07></app-test-rxjs07>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="OperFiltrosOptimizadoDebounceTimeOn">
    <div class="row">
        <h5 class="text-primary">Operadores de filtrado para optimizaci&oacute;n : Componente
            <pre class="d-inline">test-rxjs08</pre> 
        </h5>
    </div>
    <div [hidden]="!testFirstLastTakeLastOn" class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs08></app-test-rxjs08>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="OperFiltrosOptimizadoDebounceThrottleOn">
    <div class="row">
        <h5 class="text-primary">Operadores de filtrado para optimizaci&oacute;n : Componente
            <pre class="d-inline">test-rxjs09</pre> 
        </h5>
    </div>
    <div [hidden]="!testDebounceThrottleOn" class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs09></app-test-rxjs09>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="OperAgrupacionReduceScanMaxCountOn">
    <div class="row">
        <h5 class="text-primary">Operadores de agrupaci&oacute;n : Componente
            <pre class="d-inline">test-rxjs10</pre> 
        </h5>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs10></app-test-rxjs10>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="OperRecoleccionEnArrBufferTimeYcountOn">
    <div class="row">
        <h5 class="text-primary">Operadores de recolecci&oacute;n en arreglos: Componente
            <pre class="d-inline">test-rxjs11</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs11></app-test-rxjs11>
        </div>
    </div>

    <hr class="my-4">
  </div>
  
  <div *ngIf="OperCombinaConcatMergeSwitchExhaustMapOn">
    <div class="row">
        <h5 class="text-primary">Operadores de combinaci&oacute;n: Componente
            <pre class="d-inline">test-rxjs12</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs12></app-test-rxjs12>
        </div>
    </div>
    
    <hr class="my-4">
  </div>

  <div *ngIf="OperCombinaSwitchMapVsSwitchAllOn">
    <div class="row">
        <h5 class="text-primary">Ejemplo switchMap: Componente
            <pre class="d-inline">test-rxjs12-b</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs12-b></app-test-rxjs12-b>
        </div>
    </div>
    
    <hr class="my-4">
  </div>

  <div *ngIf="CreaObsQCombinaEnArrMasObsCombineLatestOn">
    <div class="row">
        <h5 class="text-primary">Creaci&oacute;n de observable que integra valores (en arreglo) de otros observables: Componente
            <pre class="d-inline">test-rxjs13</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs13></app-test-rxjs13>
        </div>
    </div>

    <hr class="my-4">
  </div>
 
  <div *ngIf="IntegracionDeObservablesOn">
    <div class="row">
        <h5 class="text-primary">Ejemplo de Combinaci&oacute;n de observables: Componente
            <pre class="d-inline">test-rxjs14</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs14></app-test-rxjs14>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="EjemplosAjaxOn">
    <div class="row">
        <h5 class="text-primary">Ejemplo de Ajax: Componente
            <pre class="d-inline">test-rxjs15-ajax</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs15-ajax></app-test-rxjs15-ajax>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="EjemploMultiCastingYusoDeSubjectOn">
    <div class="row">
        <h5 class="text-primary">Ejemplo Multicasting con Subject: Componente
            <pre class="d-inline">test-rxjs16-subject</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs16-subject></app-test-rxjs16-subject>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="EjemploSchedulersOn">
    <div class="row">
        <h5 class="text-primary">Ejemplo Schedulers: Componente
            <pre class="d-inline">test-rxjs17-scheduler</pre> 
        </h5>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs17-scheduler></app-test-rxjs17-scheduler>
        </div>
    </div>

    <hr class="my-4">
  </div>
  
  <div *ngIf="EjemplosModularizacionYruteoOn">
    <div class="row">
        <h5 class="text-primary col-sm-9">Ejemplo Modulo Funcional + Ruteo: 
            <pre class="d-inline">router-outlet</pre> 
        </h5>
        <div  *ngIf="!sesionActiva" class="text-right col-sm-3">
            <a class="btn btn-sm btn-secondary col-sm-6" 
              routerLinkActive="activo" routerLink="login">Login
            </a>
        </div>
        <div  *ngIf="sesionActiva" class="text-right col-sm-3">
            <a class="btn btn-sm btn-secondary col-sm-6"               
               routerLinkActive="activo" routerLink="logout">Logout
            </a>
        </div>

    </div>
    <div class="row">
        <nav>
            <ul class="nav flex-column nav-pills">
              <li><a class="nav-link" routerLinkActive="activo" routerLink="inicio" exact>Demo Fundamentos Angular</a></li>
              <li><a class="nav-link" routerLinkActive="activo" routerLink="inydep">Demo Inyecci&oacute;n de Dependencia</a></li>
              <li><a class="nav-link" routerLinkActive="activo" routerLink="testRxjs">Demo RxJs</a></li>
              <li><a class="nav-link" routerLinkActive="activo" routerLink="pendiente">Novedades</a></li>
            </ul>
        </nav>
    </div>
    <div  class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>

    <hr class="my-4">
  </div>

  <div *ngIf="EjemplosHttpOn">
    <app-main-mod-http></app-main-mod-http>
 
    <hr class="my-4">
 </div>
</div>