<div class="container">
  <h4 class="text-center my-4 text-primary">{{title}}</h4>
  <h5 class="text-primary mb-4">Componente <pre class="d-inline">lista-b4</pre> (3 instancias)</h5>
  <div class="row">
    <div class="col-sm table-warning p-2 rounded">
          <app-lista-b4></app-lista-b4>
    </div>
    <div class="col-sm  p-2 rounded">
        <app-lista-b4></app-lista-b4>
    </div>
    <div class="col-sm table-primary p-2 rounded">
        <app-lista-b4></app-lista-b4>
    </div>
  </div>
  <div class="row my-3">
      <small class="text-muted">Ejemplo del uso del <span class="font-italic font-weight-bold text-danger">interpolation binding</span>. 
          Cada instancia del componente lee un arreglo declarado en su controlador y muestra sus valores 
          usando expresiones del tipo <code class="font-weight-bold">{{ </code> <code class="font-weight-bold">opciones[0] }}</code> y  
          <code class="font-weight-bold">{{ </code> <code class="font-weight-bold">opcionI }}</code> 
          con un <code class="font-weight-bold">*ngFor=</code><code class="font-weight-bold">"let opcionI of opciones" </code>.<br>
          Se hace uso de diversas clases del <span class="font-italic">framework </span>  <code>Bootstrap 4</code>.
      </small>

  </div>
  <hr class="my-4">
  <h5 class="text-primary">Componente <pre class="d-inline">seleccionador</pre> configurable</h5>
  <div class="row">
    <div class="col-sm-4 p-2">
            <app-seleccionador paramNombre="taller" 
                               paramEtiquetas="Cocina,Electricidad,Pintura,Artes Plasticas" 
                               paramValores="C,E,P,AP"
                               paramConBorde="true"
                               paramMostrarValores="true">                
            </app-seleccionador>
    </div>
    <div class="col-sm-4 p-2">
        <app-seleccionador></app-seleccionador>
    </div>
    <div class="col-sm-4 p-2">
            <app-seleccionador paramNombre="servicio" 
                               paramEtiquetas="Desayunos,Comidas,Uniformes,Biblioteca,Sala Computo" 
                               paramValores="D,C,U,B,SC"
                               paramConBorde="true"
                               paramMostrarValores="false"
                               paramTipo ="checkbox"
            >                
            </app-seleccionador>
        </div>
    </div>
<div>
    <small class="text-muted">Ejemplo de usos de <span class="font-italic font-weight-bold text-danger">directivas estructurales</span>. 
        En este caso: <br>
        <ul>
            <li>
                <code class="font-weight-bold">*ngFor</code> (with index), 
            </li>
            <li>
                <code class="font-weight-bold">*ngIf</code>, 
            </li>
            <li>
                <code class="font-weight-bold">[ngSwitch]</code> (no estructural),
            </li>
            <li>
                <code class="font-weight-bold">*ngSwitchCase</code> y 
            </li>
            <li>
                <code class="font-weight-bold">*ngSwitchDefault</code>. 
            </li>
       </ul>
    Tambi&eacute;n se utiliza <span class="font-italic font-weight-bold">class binding</span> para el dibujo condicional del borde.<br>
    El componente permite personalizar:
    <ol>
        <li>
            Borde 
        </li>
        <li>
            El despliegue de valores de cada opci&oacute;n
        </li>
        <li>
            Si se desea usar radio botones o botones de tipo chekbox 
        </li>
        <li>
            El nombre del campo
        </li>
        <li>
            Los valores posibles a elegir
        </li>
    </ol> 
    En general, el componente explota el <strong>renderizado condicional</strong> con base en datos residentes en su controlador.
    </small>
</div>
<hr  class="my-4">
<div class="row">
    <div class="offset-sm-3 col-sm-6">
        <h5 class="text-primary">Componente
            <pre class="d-inline">editor-personas</pre>
        </h5>
        <app-editor-personas></app-editor-personas>
    </div>
</div>
<div class="text-info text-muted mt-3 text-info">
    <small>Ejemplo del uso de <code class="font-weight-bold">ngModel</code> para
        <strong class="text-danger">enlace doble de datos</strong> entre el formulario y la clase definida en el
        controlador del
        componente.</small>
</div>
<hr>

</div>
