<div class="container">
  <h4 class="text-center my-4 text-primary">{{title}}</h4>
  <h5 class="text-primary mb-4">Componente <pre class="d-inline">lista-b4</pre> (3 instancias)</h5>
  <div class="row">
      <div class="col-sm table-warning p-2 rounded">
          <app-lista-b4></app-lista-b4>
      </div>
  </div>
  <div class="row my-3">
      <small class="text-muted">Ejemplo del uso del <span class="font-italic font-weight-bold text-danger">interpolation binding</span>. 
          Cada instancia del componente lee un arreglo declarado en su controlador y muestra sus valores 
          usando expresiones del tipo <code class="font-weight-bold">{{ </code> <code class="font-weight-bold">opciones[0] }}</code> y  
          <code class="font-weight-bold">{{ </code> <code class="font-weight-bold">opcionI }}</code> 
          con un <code class="font-weight-bold">*ngFor=</code><code class="font-weight-bold">"let opcionI of opciones" </code>.<br>
          Se hace uso de diversas clases del <span class="font-italic">framework </span>  <code>Bootstrap 4</code>.
      </small>

  </div>
  <hr>
</div>
