<div class="row">
    <div class="card mt-1 col-sm-6 bg-light" *ngFor="let componenteI of listaComponentes">
        <div class="card-body" >
            <h5 class="card-title">{{componenteI.titulo}}</h5>
            <p class="card-text">{{componenteI.descripcion}}</p>
            <div class="row justify-content-around">
                <a class="btn btn-info col-sm-2" routerLink="./{{componenteI.demo}}">Probar</a>
                <a class="btn btn-success col-sm-2" [routerLink]="['./editor',componenteI.demo]" >Editar</a>
            </div>
        </div>
    </div>
</div>