<h5 class="table-primary rounded text-secondary text-center py-1 mb-3">Demo RxJs</h5>
<div>
    <ul class="nav nav-pills nav-fill" id="ulMenu">
        <li class="nav-item">
          <a class="nav-link"  
             routerLink="./basicos" routerLinkActive="active">B&aacute;sicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="./creacion">Oper. Creaci&oacute;n</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="./filtros">Filtrado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="./acumReduc">Acum-Reduc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./combinacion">Combinaci&oacute;n</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./ajax">Ajax</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./avanzados">Avanzados</a>
        </li>
    </ul>
</div>
<div class="mt-2">
    <router-outlet></router-outlet>
</div>