<div class="text-primary">
    Con <strong>animationFrameScheduler</strong>
</div>
<div id="{{idDiv[0]}}" class="barraScheduler rounded bg-primary">
</div>

<div class="text-secondary">
    Con  <strong>asyncScheduler</strong> (emite en cola de tareas)
</div>
<div id="{{idDiv[1]}}" class="barraScheduler rounded bg-secondary">
</div>

<div class="text-info">
    Con  <strong>asapScheduler</strong> (emite en cola de micro-tareas)
</div>
<div id="{{idDiv[2]}}" class="barraScheduler rounded bg-info">
</div>

<div class="text-success">
    Con  <strong>queueScheduler</strong> (emite síncronamente)
</div>
<div id="{{idDiv[3]}}" class="barraScheduler rounded bg-success">
</div>

<div class="text-warning">
    Con  <strong>interval</strong> + animationFrameScheduler (interval requiere sintaxis especial)
</div>
<div id="{{idDiv[4]}}" class="barraScheduler rounded bg-warning">
</div>

<div class="text-danger">
    Con  <strong>scheduled</strong> + animationFrameScheduler (para tomar valores desde un arreglo)
</div>
<div id="{{idDiv[5]}}" class="barraScheduler rounded bg-danger">
</div>
