<div class="row mt-4">
    <h5 class="text-primary">Componentes 
        <pre class="d-inline">test-http</pre>, <pre class="d-inline">consulta-persona</pre> 
        , <pre class="d-inline">consulta-personas</pre>  
        y <pre class="d-inline">despl-error</pre>. Usan el api 
        <code class="font-weight-bold">HttpClient</code> y tratan respuestas as&iacute;ncronas.
    </h5>
</div>
<div class="text-info text-muted mt-2 text-info text-justify mb-2">
    <small>Ejemplo de implementaci&oacute;n de <strong class="text-danger">peticiones HTTP a un servidor</strong>.
        Se inyecta un servicio de datos que hace las peticiones y <strong class="text-danger">maneja los errores</strong> que provienen
        del servidor o de la red. El procesamiento as&iacute;ncrono usa <i>observables</i>, que
        son manipulados por medio del <i>API</i> de <code>RxJs</code>.<br>
        El componente que despliega los mensajes de error, usa m&eacute;todos
        del <i>Lifecycle event sequence</i> de Angular para manejar adecuadamente su estado.
    </small>
</div>
<div class="row pt-3 mb-4" >
    <div class="col-12 "> Aqui va componente pendiente
     </div>
</div>

